<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% endblock %}

    {% block javascripts %}
    {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>

<body>
    <main class="container mt-4">
        {{ include('partial/nav.html.twig') }}

        {% block content %}{% endblock %}
    </main>
</body>

</html>